@import "../../variables.scss";

.chat-composer {
  background: lighten($background, 5%);
  border-radius: 25px;
  margin: 15px;
  flex-shrink: 0;
  position: sticky;
  display: flex;
  position: -webkit-sticky;
  bottom: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: $foreground;
    outline: none;

    &.button-attach {
      padding-left: 12px;
    }

    &.button-send {
      padding-right: 12px;
      color: lighten($accent, 10%);
    }
    
    i {
      vertical-align: middle;
      font-size: 1.4em;
    }
  }

  input[type=text] {
    width: 100%;
    background: transparent;
    border: none;
    min-height: 1em;
    padding: 15px 0;
    outline: none;
    color: $foreground;
    resize: none;
    flex-grow: 1;
  }
}