@import "../../variables.scss";

.chat-message {
  width: 100%;
  display: flex;
  margin-bottom: 3px;
  
  &:not(.same-user) {
    margin-top: 15px;
  }

  &.same-user {
    margin-top: 5px;

    .user-photo {
      height: 0;
    }

    .message-content .user-name {
      display: none;
    }
  }

  .user-photo {
    flex-shrink: 0;
    display: inline-block;
    $user-photo-size: 35px;
    width: $user-photo-size;
    height: $user-photo-size;
    background-size: $user-photo-size !important;
    border-radius: 100%;
    background: #FFF;
    margin-right: 10px;
  }

  .message-content {
    min-width: 0;
    flex-grow: 1;
    display: inline-block;

    .user-name {
      display: flex;
      margin-bottom: 5px;
      font-weight: 600;
      align-items: center;

      .timestamp {
        position: relative;
        top: 1px;
        font-size: 0.8em;
        vertical-align: bottom;
        margin-left: 5px;
        font-weight: initial;
        color: $foreground-muted;
      }

      .staff-badge {
        margin-left: 5px;
        font-size: 0.5em;
        padding: 3px;
        border-radius: 2px;
        background: #6da66d;
      }
    }

    .message-text {
      &.sending {
        color: $foreground-muted;
      }

      img {
        max-width: 400px;
        max-height: 400px;
        border-radius: 10px;
      }

      .message-image {
        display: block;
        margin-top: 5px;
      }
    }
  }
}