@import '../../../styles/variables.scss';

.chat-list-item {
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  padding: 20px 15px;
  align-items: center;
  margin: 10px 0px;
  transition-duration: 0.2s;
  border-radius: 16px;
  &:not(.selected):hover {
    background: #212121;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  }

  &.selected {
    background: #212121;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  }

  .chat-photo {
    flex-shrink: 0;
    display: inline-block;
    $chat-photo-size: 50px;
    width: $chat-photo-size;
    height: $chat-photo-size;
    background-size: $chat-photo-size !important;
    border-radius: 100%;
    background: $foreground;
    margin-right: 15px;
  }

  .chat-info {
    min-width: 0;
    flex-grow: 1;
    display: inline-block;

    .chat-title {
      display: flex;
      margin-bottom: 5px;
      font-weight: 600;
      align-items: center;

      .chat-timestamp {
        color: $foreground-muted;
        flex-grow: 1;
        font-weight: initial;
        text-align: right;
        font-size: 0.7em;
      }
    }

    .chat-preview {
      font-size: 0.9em;
      color: $foreground-muted;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
