@import "./variables.scss";
@import "./normalize.scss";

*, * * {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: $background;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  color: $foreground;
}

.accent {
  color: $accent;
}